/*
|--------------------------------------------------------------------------
| Font
|--------------------------------------------------------------------------
|
*/ 
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */


/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
*/ 
@import "./variables.scss";



/*
|--------------------------------------------------------------------------
| Tailwind Directives
|--------------------------------------------------------------------------
|
| Import TailwindCSS directives and swipe out at build-time with all of
| the styles it generates based on your configured design system.
|
*/ 
@import "tailwindcss";



/*
|--------------------------------------------------------------------------
| Tailwind Theme Variables
|--------------------------------------------------------------------------
|
| Definir variables personalizadas utilizando `@theme`.
|
*/
@theme {
  --font-display: "Roboto", "sans-serif";
  --color-primary: #c6ccea;
  --color-primary-light: #00b4d6;
  --color-primary-dark: #007a91;
  --color-primary-alpha70: rgba(79, 157, 166, 0.7);

  --color-secondary: #0998FC;
  --color-secondary-light: #09C0FC;
  --color-secondary-dark: #0976FC;

  --color-danger: #f44336;
  --color-danger-light: #ff7961;
  --color-danger-dark: #b83329;
  
  --color-success: #4caf50;
  --color-success-light: #61e265;
  --color-success-dark: #3a893d;
  
  --color-info: #FFB300;
  --color-info-light: #FFD54F;
  --color-info-dark: #FFA000;
  
  --color-warning: #facc15;         
  --color-warning-light: #fef9c3;   
  --color-warning-dark: #ca8a04;
  
  --color-navbar: #222831;
  --color-background: #f8fafc;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
} 




/*
|--------------------------------------------------------------------------
| Tailwind Layer
|--------------------------------------------------------------------------
|
| Import layer components.
|
*/
@layer components {
    /* Botones */
    .btn {
        @apply py-2 px-4 font-semibold rounded-lg shadow-md transition duration-300 ease-in-out;
        /* color: #b83329; */
    }

    .btn-primary {
        background-color: var(--color-primary);
        color: white;
        @apply shadow-sm hover:bg-[var(--color-primary-dark)] hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)];
    }

    .btn-secondary {
        background-color: var(--color-secondary);
        color: white;
        @apply shadow-sm hover:bg-[var(--color-secondary-dark)] hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-secondary)];
    }

    .btn-danger {
        background-color: var(--color-error);
        color: white;
        @apply shadow-sm hover:bg-red-700 hover:shadow-lg focus:outline-none focus:ring-2 focus:ring-red-400;
    }
    
    .disabled{
        @apply bg-gray-100 cursor-not-allowed pointer-events-none;
    }
    

    /* Inputs */
    .form-control {
        @apply w-full h-10 px-3 text-base placeholder-gray-600 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[var(--color-primary)];
    }

    .text-danger {
        color: var(--color-error);
    }

    .border-danger {
        border-color: var(--color-error);
        @apply border rounded-lg;
    }

    .card {
        @apply shadow border p-4 rounded bg-white;
    }

    .card--featured {
        background-color: var(--color-primary-alpha70);
        border-color: var(--color-primary);
    }

    .card__title {
        @apply text-2xl font-bold text-gray-800;
    }

    .card__description {
        @apply text-gray-600;
    }

    .card__button {
        background-color: var(--color-primary);
        color: white;
        @apply py-2 px-4 rounded hover:bg-[var(--color-primary-dark)] transition duration-300 ease-in-out;
    }


    .mi-clase{

        background: linear-gradient(to bottom, #fff, #000);

    }


}
